html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
    
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #acc8e5;
    color: #112a46;
}

h1{
    text-align: center;
    font-size: 60px;
    background-color: #92B6DD;
    padding: 30px;
}

img{
    width: 250px;
    height: auto;
}

.container{
    display: flex;
    margin-left: 10px;
}

.description{
    margin-top: 0px;
    margin-left: 20px;
}